/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 8, 2016, 3:26:45 PM
    Author     : Ishara
*/

.settiinga{
    float: right;
    margin-right: 39px;
    cursor: pointer;
}
.settingspan{
    font-size: 20px;vertical-align: bottom;
}
.settingspan2{

}
div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    // height: 320px;
    margin: auto;
    /*max-width: 600px;*/
    // padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    font-size: 15px;
}

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;

    font-weight: 100;
    /*padding:5px;*/
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    height: 15px;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/*tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}*/

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}
/*
tr:nth-child(odd):hover td {
    background:#4E5066;
}*/

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    /*padding:20px;*/
    height: 15px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;

    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}
#edittd{
    text-align: center;
}
.hiden{
    display: none;
}
.pmargin{
    margin: 0px;
}
.edcolwidth{
    width: 60px
}
.costypecol{
    width: 300px;
}

.edit_options{
    float: right; 
    margin-right: 60%;
    width: 35px;
}
.edit_options2{
    float: right;
    margin-right: 25%;
    width: 35px;
}
.edit_options a{
    cursor: pointer;

}
.edit_options2 a{
    cursor: pointer;

}
.edit_optionsa3{
    color: rgb(23, 23, 138);
}
.edit_optionsa2{
    padding-left: 5px;
    color: rgb(230, 62, 62);
}
.new-cost-input{
    width: 50%;
    border: 1px solid blue;
    margin: 2px;
    padding: 1px;
    border-radius: 2px;
}