/*----- Tabs -----*/
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
h3{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.tabs {
    width:100%;
    display:inline-block;
}


/*----- Tab Links -----*/
/* Clearfix */
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;

    width: 90%;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
/*table tr{
    text-align: center;
    padding-left:20px;
}*/
table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
    border-bottom:0;
}
table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.tab-links{
    margin-bottom: 0px;

}
.tab-links:after {
    display:block;
    clear:both;
    content:'';

}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
    margin-bottom: 0px;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
    outline: none;
    text-decoration: none;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
    outline: none;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;

}

/*----- Content of Tabs -----*/
.tab-content {
    // padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}
.tab {
    display:none;
    height: 100%;
}
.tab.active {
    display:block;
}


.modalDialog3 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog3:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog3 > div  {
    text-align: center;
    font-size: 24px;
    color: green;
    width: 400px;

    position: relative;
    margin: 10% auto;
    padding: 0px 20px 13px 20px;
    border-radius: 30px;
    background: white;
    padding-top: 10px;
    -webkit-box-shadow:inset 10px 10px 10px black;
    box-shadow:inset 0 0px 3px black;
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    margin-top: 20px;
}
#devtable td{
    width: 50%;
}
#devtable{
    width: 70%;
    padding-left: 10%;
}
#devtable tr{
    text-align: left;
}
#speed{
    width: 50%;
    alignment-adjust: central;
}
.smallsize{
    width: 50%;
}
.fixedbox{
    position: fixed;
    bottom: 50%;
    right: 10px;
    width: 200px;

}
.adddevicetop{
    background: transparent radial-gradient(at 40% 30% , #4A98D3, #00598F)repeat scroll 0% 0%;
}
.imgpadding{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    //  padding: 20px;
    position: absolute;
    /*background: orange;*/
    //bottom: -20px;
    left: 470px;
    width: 44%;
    height: 250px;
    margin-left: 30px;
}



.prev-border{
    border: 1px solid black;
}
#pricebox{

    margin-top: 5px;
    margin-bottom: 5px;
    width: 270px;
    text-align: right;
    margin-left: 115px;
}
#qtybox{
    margin-bottom: 5px;
    width: 270px;
    margin-left: 115px;
}
#Price{
    text-align: right;
}
#qty{
    text-align: right;
}
#imgbrowsebox{
    margin-left: 115px;

}
#Devicespec,#Accesoriespart{
    margin-top: 100px;
}
.updatepro-bar{
    margin-left: 65px;
    margin-bottom: 5px;
}
.pro-edit-iframe{
    border-radius: 10px;
}
/*admin home*/
