﻿
/*************************
*******Typography******
**************************/
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);*/

body {
    /*font-family: "Roboto",sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
}
h1,h2, h3, h4, h5{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
button{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.paddingadvertisement{
    padding-top: 20px;
}
.parentselect{
    width: 80px;
    overflow: hidden;
}
.parentselect select{
    width: 100px;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 2px 2px 2px 2px;
    border: none;

}
.searchbutton{
    padding-top: 5px;   
    padding-right: 3px;
}

.padding_products{
    padding-top: 20px;
}
p{
    margin: 0px;
}
ul li {
    list-style: none;
}
.Homebarwidth{
    width: 40%;
    padding: 10px;
}
.searchbarwidth{
    width: 60%;
    padding-top: 12px;
}
.smallsize{
    width: 50%;
}

a:hover {
    outline: none;
    text-decoration:none;
}

a:focus {
    outline:none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}




/*.btn:focus{
  outline: none;
  box-shadow: none;
   border-color: #FFAC42;
   background-color: #FFAC42;
}
.btn:hover{
     background-color: #f58900;
     border-color: #f58900;
}
.btn:active{
    background-color: #ff9510;
    border-color: #ff9510;
}
.btn{
    font-size: 11px;
    background-color: #FFAC42;
    border-color: #FFAC42;
}*/
.bottmheadercolor{
    background-color: #FFAC42;


}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 0px;
    right: 30px;
    padding: 5px 10px;
    background: #E5580C;
    color: #FFF;
    -webkit-animation: wobble 2s ease infinite;
    -moz-animation: hing 2s ease infinite;
    animation: wobble 2s ease infinite;

}

a#scrollUp i{
    font-size: 30px;
}


/*************************
*******Header CSS******
**************************/

.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}

.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
    font-size: 12px;
    color: #696763;
    font-family: 'Roboto', sans-serif;
}


.contactinfo ul li a:hover{
    background:inherit;
}


.social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #696763;
    padding:0px;
}


.social-icons ul li{
    display:inline-block;
}

.social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}


.fa-facebook:hover {
    background: #0083C9;
}

.fa-twitter:hover  {
    background:#5BBCEC;
}

.fa-linkedin:hover  {
    background:#FF4518;
}

.fa-dribbble:hover  {
    background:#90C9DC;
}

.fa-google-plus:hover  {
    background:#CE3C2D;
}

.header-middle .container .row   {
    border-bottom: 0px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0px;
    padding-top: 0px;
}
.imagesliderpadding{
    padding-top: 5px
}
.removepd{
    padding-bottom: 0px;
    padding-top: 0px;
}

.header-middle .container .row .col-sm-4{
    padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
    padding-right:0;
}

.usa {
    border-radius: 0;
    color: #B4B1AB;
    font-size: 12px;
    margin-right: 20px;
    padding: 2px 15px;
    margin-top: 10px;
}

.usa:hover {
    background:#FE980F;
    color:#fff;
    border-color:#FE980F;
}

.usa:active, .usa.active {
    background: none repeat scroll 0 0 #FE980F;
    box-shadow: inherit;
    outline: 0 none;
}

.btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus {
    background-color: #FE980F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.shop-menu {
    padding-top: 12px;
}
.shop-menu ul li{
    display:inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background: #F8F3F3;
    color: white;

}

.shop-menu ul li:last-child {
    padding-right: 0;
    background: #F8F3F3;
    color: white;
}


.shop-menu ul li a {
    background: #F8F3F3;
    color: #243238;

    font-size: 14px;
    font-weight: 300;
    padding:0;
    padding-right: 0;
}


.shop-menu ul li a i{
    margin-right:3px;
}


.shop-menu ul li a:hover {
    color:black;
    background:#F8F3F3;
}



.header-bottom {

}

.navbar-collapse.collapse{
    padding-left: 0;
}

.mainmenu ul li{
    padding-right: 15px;
    padding-left: 15px;
}

.mainmenu ul li:first-child{
    padding-left: 0px;
}

.mainmenu ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 10px;
}
.shop-menu ul li a.active{
    background-color: #363D41;
}
.mainmenu ul li a:hover, .mainmenu ul li a.active {
    background:none;
    color:#fdb45e;
}

//
.button {
    border-top: 1px solid #faf6f0;
    background: #ffad42;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffad42), to(#ffad42));
    background: -webkit-linear-gradient(top, #ffad42, #ffad42);
    background: -moz-linear-gradient(top, #ffad42, #ffad42);
    background: -ms-linear-gradient(top, #ffad42, #ffad42);
    background: -o-linear-gradient(top, #ffad42, #ffad42);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #ba7322;
    background: #ba7322;
    color: #ccc;
}
.button:active {
    border-top-color: #fcb45b;
    background: #fcb45b;
}
//
.search_box input {
    /* background: #F0F0E9;
      border: medium none;
      color: #B2B2B2;
      font-family: 'roboto';
      font-size: 12px;
      font-weight: 300;
      height: 29px;
      outline: medium none;
      padding-left: 10px;
      width: 155px;
      border-color: red;
      background-image: url(../images/home/searchicon.png);
      background-repeat: no-repeat;
      background-position: 130px;*/
}

.searchbtn{
    font-size: 11px;
}


/*  Dropdown menu*/

.navbar-header 
.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

ul.sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
}

.dropdown ul.sub-menu li .active{
    color: #FDB45E;
    padding-left: 0;
}


.navbar-nav li ul.sub-menu li{
    padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
    padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
    color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #FDB45E;
}

.fa-angle-down{
    padding-left: 5px; 
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/*************************
*******Footer CSS******
**************************/

#footer {
    background: #F0F0E9;
}


.footer-top .container {
    border-bottom: 1px solid #E0E0DA;
    padding-bottom: 20px;
}

.companyinfo {
    margin-top: 57px;
}

.companyinfo h2 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 27px;
    text-transform: uppercase;
}

.companyinfo h2  span{
    color:#FE980F;
}

.companyinfo p {
    color: #B3B3AD;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer-top .col-sm-3{
    overflow: hidden;
}

.video-gallery {
    margin-top: 57px;
    position: inherit;
}

.video-gallery a img {
    height: 100%;
    width: 100%;
}

.iframe-img {
    position: relative;
    display: block;
    height: 61px;
    margin-bottom: 10px;
    border: 2px solid #CCCCC6;
    border-radius: 3px;
}

.overlay-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 61px;
    background: #FE980F;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.video-gallery a:hover .overlay-icon{
    opacity: 1;
}

.video-gallery p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom:0px;
}

.video-gallery  h2 {
    color: #8c8c88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform:uppercase;
    margin-top:0px;
}


.address {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
.address  img {
    width:100%;
}

.address p {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 50px;
}



.footer-widget .container {
    padding-top: 15px;
}

.single-widget h2 {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.single-widget h2 i{
    margin-right:15px;
}

.single-widget ul li a{
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}

.single-widget ul li a i {
    margin-right: 18px;
}

.single-widget ul li a:hover{
    background:none;
    color:#FE980F;
}


.searchform input {
    border: 1px solid #DDDDDD;
    color: #CCCCC6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 0;
    outline: medium none;
    padding: 7px;
    width: 212px;
}


.searchform button {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
    padding: 7px 17px;
}

.searchform button i {
    color: #FFFFFF;
    font-size: 20px;
}

.searchform  button:hover, 
.searchform  button:focus{
    background-color:#FE980F;
}

.searchform p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.footer-bottom {
    background: #F6B442;
    padding-top: 10px;
}

.footer-bottom p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.footer-bottom p span a {
    color: #fff;

    font-style: obliqu;
    text-decoration: underline;
}


/*************************
******* Home ******
**************************/


#slider {
    padding-bottom: 45px;
}

.carousel-indicators li {
    background: #C4C4BE;
    border-radius: 5px;
}

.carousel-indicators li.active {
    background: #E5580C;
    width: 50px;
}
.carousel-indicators li:hover{
    background: orange;
}



.pricing {
    position: absolute;
    right: 40%;
    top: 52%;
}

.girl {
    margin-left: 0;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 115px;
}

.item h1 span {
    color:#E5580C;
}

.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.item  p {
    color:#363432;
    font-size:16px;
    font-weight:300;
    font-family: 'Roboto', sans-serif;
}

.get {
    background: #E5580C ;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}


.item button:hover {
    background: #E5580C;
}

.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}

.control-carousel:hover{
    color: #FE980F ;
}

.right {
    right: 0;
}

.category-products {
    border: 1px solid #F7F7F0;
    margin-bottom: 35px;
    padding-bottom: 20px;

}
.left-sidebar{
    border: 1px solid rgb(247, 247, 245);
    height: 899px;
}
.left-sidebar h2, .brands_products h2 {
    color: #E5580C;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index:3;
}


.left-sidebar h2:after, h2.title:after{
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    bottom:8px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}

.left-sidebar h2:before{
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}

h2.title:before{
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}

.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow:none;
    margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products .badge {
    background:none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.panel-body ul{
    padding-left: 20px;
}


.panel-body ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.brands-name {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
}


.brands-name .nav-stacked li a {
    background-color: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover{
    background-color: #fff;
    color: #696763;
}

.shipping {
    background-color: #F2F2F2;
    margin-top: 40px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}


.price-range{
    margin-top:30px;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #F7F7F0;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 35px;
}




.padding-right {
    padding-right: 0;
}

.features_items{
    overflow:hidden;
}


h2.title {
    color: #E5580C;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.product-image-wrapper{
    border:1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom:30px;
}
.product-image-wrapper:hover{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;

    /*    zoom: 1;
        -webkit-transform: scale(1.10); */
    -moz-transform:scale(1.02);
    cursor: pointer;
}

.single-products {
    position: relative;
}



.new, .sale {
    position: absolute;
    top: 0;
    right: 0;
}

.productinfo h2{
    color: #E5580C;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.product-overlay h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}


.productinfo p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    //color: #696763;
}

.productinfo img{
    width: 100%;
}

.productinfo{
    position:relative;
}

.product-overlay {
    background:#FE980F;
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
    //  opacity:;
}

.single-products:hover .product-overlay {
    display:block;
    height:100%;
}


.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-overlay .add-to-cart {
    background:#fff;
    border: 0 none;
    border-radius: 0;
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
    background:#fff;
    color: #FE980F;
}


.product-overlay p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}



.add-to-cart {
    background:#F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.add-to-cart:hover {
    background: #1D7110 ;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
}

.add-to{
    margin-bottom: 10px;
}

.add-to-cart i{
    margin-right:5px;
}

.add-to-cart:hover {
    background: #1D7110 ;
    color: #FFFFFF;
}

.choose {
    border-top: 1px solid #F7F7F0;
}

.choose ul li a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

.choose ul li a i{
    margin-right:5px;
}

.choose ul li a:hover{
    background:none;
    color:#FE980F;
}

.category-tab {
    overflow: hidden;
}

.category-tab ul {
    padding-left: 10px;
    background: #606060;
    border-bottom: 1px solid #E5580C;
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
    text-align: left;
    border-bottom-left-radius:15px; 
    border-bottom-right-radius: 15px;
}

.category-tab ul li a {
    text-align: center;
    border: 0 none;
    border-radius: 0;
    color: white;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;

}

.category-tab ul  li  a:hover{
    background:#E5580C ;
    color:black;
    border-top-left-radius: 15px;
    border-top-right-radius:15px; 
    border-bottom-left-radius:15px; 
    border-bottom-right-radius: 15px;

}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FF8700;
    border:0px;
    color: #FFFFFF;
    cursor: default;
    margin-right:0;
    margin-left:0;
}

.nav-tabs  li  a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right:0;
}

.recommended_items {
    overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}

.recommended-item-control {
    position: absolute;
    top: 41%;
}

.recommended-item-control i {
    background: none repeat scroll 0 0 #E5580C;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;
}

.recommended-item-control i:hover {
    background: #ccccc6;
}

.recommended_items  h2 {
}

.our_partners{
    overflow:hidden;
}

.our_partners ul {
    background: #F7F7F0;
    margin-bottom: 50px;
}


.our_partners ul li a:hover{
    background:none;
}

/*************************
*******Shop CSS******
**************************/


#advertisement {
    padding-bottom: 45px;
}

#advertisement img {
    width: 100%;
}

.pagination {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 15px;
}
#pagination-pagecount:hover{
    background-color: #f0f0e9;
    color: black;
}
#disabled-pagination{

    background-color: #f3f3f3;
    color: rgb(209, 201, 201);
}
#active-page{
    background-color: #FFC16E;
}
.pagination  li:first-child  a, .pagination  li:first-child  span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
    background-color: #FE980F;
    border-color: #FE980F;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}

.pagination  li  a, .pagination  li  span {
    background-color: #f0f0e9;
    border: 0;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    margin-right: 5px;
    color:#000;
}

.pagination  li  a:hover{
    background:#FE980F;
    color:#fff;
}



/*************************
*******Product Details CSS******
**************************/

.product-details{
    overflow:hidden;
}


#similar-product {
    margin-top: 40px;
}


#reviews {
    padding-left: 25px;
    padding-right: 25px;
}

.product-details {
    margin-bottom: 40px;
    overflow: hidden;
    margin-top: 10px;
}



.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #F7F7F0;
    height: 380px;
    width: 100%;
}

.view-product h3 {
    background: #FE980F;
    bottom: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}

#similar-product .carousel-inner .item{
    padding-left:0px;
}

#similar-product .carousel-inner .item img {
    display: inline-block;
    margin-left: 15px;
}

.item-control {
    position: absolute;
    top: 35%;
}
.item-control i {
    background: #FE980F;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
}

.item-control i:hover{
    background:#ccccc6;
}

.product-information {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}

.newarrival{
    position:absolute;
    top:0;
    left:0
}

.product-information h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.product-information p {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}

.product-information span span {
    color: #FE980F;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}
.product-information span input {
    border: 1px solid #DEDEDC;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
}

.product-information span label {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 5px;
}

.share {
    margin-top: 15px;
}


.cart {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}


#reviews ul {
    background: #FFFFFF;
    border: 0 none;
    list-style: none outside none;
    margin: 0px;
    padding: 0;
}

#reviews  ul  li {
    min-width: 110px;
    display:inline-block;
}

#reviews ul li a {
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
    text-align: left;
}

#reviews ul li a i{
    color:#FE980F;
    padding-right:8px;
}

#reviews ul li a:hover{
    background:#fff;
    color:#FE980F;
}

#reviews p{
    color:#363432;
    margin-bottom: 15px;
    font-weight: 900;
    font-style: italic;
}

#reviews  span {
    display: block;
}

#reviews span input {
    background:#F0F0E9;
    border: 0 none;
    color: #A6A6A1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 8px;
    width: 48%;
}
#reviews span input:last-child {
    margin-left: 3%;
}

#reviews textarea {
    background: #F0F0E9;
    border: medium none;
    color: #A6A6A1;
    height: 100px;
    margin-bottom: 25px;
    margin-top: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 99.5%;

}
.star-div{
    width: 14%;
    cursor: pointer;
}

#reviews button {
    position: relative;
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    top: -31px;
    left: -5px;
}


/*************************
*******404 CSS******
**************************/




//product details

.logo-404 {
    margin-top: 60px;
}

.content-404 h1 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 300;
}

.content-404 img {
    margin:0 auto;
}

.content-404 p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.content-404  h2 {
    margin-top:50px;
}

.content-404 h2 a {
    background: #FE980F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-weight: 300;
    padding: 8px 40px;
}


/*************************
*******login page CSS******
**************************/

#form {
    display: block;
    margin-bottom: 185px;
    margin-top: 185px;
    overflow: hidden;
}

.login-form {
    padding-top: 30px;
}

.signup-form {

}

.login-form h2, .signup-form h2 {
    color: #696763;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 0px;
}


.login-form form input, .signup-form form input {
    background: white;
    // border: medium none;
    color: #696763;
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}

.login-form form span{
    line-height: 25px;
}

.login-form form span input {
    width: 15px;
    float: left;
    height: 15px;
    margin-right: 5px;
}

.login-form form button {
    margin-top: 23px;
}

.login-form form button, .signup-form form button {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}

.login-form label{

}


.login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}


//.or{
/*	background: #FE980F;
        border-radius: 40px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        margin-top: 75px;
        text-align: center;
        width: 50px;*/
//}


/*************************
*******Cart CSS******
**************************/

#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

.breadcrumbs .breadcrumb {
    background:transparent;
    padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
    background:#FE980F;
    color: #FFFFFF;
    padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
    content:"";
    height:auto;
    width: auto;
    border-width: 8px;
    border-style: solid;
    border-color:transparent transparent transparent #FE980F;
    position: absolute;
    top: 11px;
    left:48px;

}

.breadcrumbs .breadcrumb > li + li:before {
    content: " ";
}

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px
}


#cart_items .cart_info .cart_menu {
    background: #606060;
    color: #fff;
    font-size: 16px;
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: normal;
    text-align: center;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    margin-right: 5px;
    text-align: center;
}


#cart_items .cart_info .image {
    padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: normal;

}

#cart_items .cart_info .cart_description p {
    color:#696763
}


#cart_items .cart_info .cart_price p {
    color:#696763;
    font-size: 18px
}


#cart_items .cart_info .cart_total_price {
    color: #FE980F;
    font-size: 24px;
}

.cart_product {
    display: block;
    margin: 15px -70px 10px 25px;
}
.cart_quantity{
    width: 20%;
}
.cart_quantity_button{
    margin-left: 35px;
    padding-left: 21px;
    padding-top: 17px;
}
.cart_quantity_button a {
    cursor: pointer;
    background:#F5BCB6;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
}


.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    /*font-family: 'Roboto',sans-serif;?*/
    border: medium none;
    height: 28px;
}


.cart_delete  {
    display: block;
    margin-right: -12px;
    overflow: hidden;
}


.cart_delete a {
    /*background:#F0F0E9;*/
    color: red;
    padding: 5px 7px;
    font-size: 16px;
    cursor: pointer;

}

.cart_delete a:hover {
    color: #ecc8c8;
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
}


.bg h2.title {
    margin-right:0;
    margin-left:0;
    margin-top: 0;
}

.heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
}


#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 20px 31px 27px 1px;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background:#E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}


.user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
}


.user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;

}

.user_info .single_field {
    width: 31%
}

.user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid#F0F0E9
}

.user_info > li {
    float: left;
    margin-right: 10px
}

.user_info > li > span {
}

.user_info input, select, textarea {
    background: #F0F0E9;
    border:0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
}

.user_info select:focus {
    border: 0
}


.chose_area .update {
    margin-left: 40px;
}

.update, .check_out {
    background: #E5580C;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    border-radius: 19px;
    width: 130px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.update:hover, .check_out:hover{
    background: #C4C4BE;
    color: black;
}
.disableda{
    cursor: auto;
    background: rgb(233, 233, 233) none repeat scroll 0% 0%;
    color: white;
}
.disableda:hover{
    cursor: auto;
    background: rgb(233, 233, 233) none repeat scroll 0% 0%;
    color: white;
}
.update{
    margin-left: 40px;
}

.check_out {
    margin-left: 20px
}



/*************************
*******checkout CSS******
**************************/

.step-one {
    margin-bottom: -10px
}

.register-req, .step-one .heading {
    background: none repeat scroll 0 0 #F0F0E9;
    color: #363432;
    font-size: 20px;
    margin-bottom: 35px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
}

.checkout-options {
    padding-left: 20px
}


.checkout-options h3 {
    color: #363432;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.checkout-options p {
    color: #434343;
    font-weight: 300;
    margin-bottom: 25px;
}
.navbarcollor{
    color: red;
}
.checkout-options .nav li {
    float: left;
    margin-right: 45px;
    color: #696763;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.checkout-options .nav label {
    font-weight: normal;
}
.navbarcollor{
    color: red;
}

.checkout-options .nav li a {
    color: #FE980F;
    font-size: 18px;
    font-weight: normal;
    padding: 0
}

.checkout-options .nav li a:hover {
    background: inherit;
}

.checkout-options .nav i {
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    background: #FE980F;
    color:#fff;
    font-size: 14px;
    padding: 2px 3px;
}


.register-req  {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    margin-top: 35px;

}

.register-req p {
    margin-bottom: 0
}



.shopper-info p, 
.bill-to p, 
.order-message p {
    color: #696763;
    font-size: 20px;
    font-weight: 300
}


.shopper-info .btn-primary {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    margin-right: 15px;
    margin-top: 20px;
}


.form-two, .form-one {
    float: left;
    width: 47%
}


.form-two1, .form-one1 {
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.shopper-info > form > input, 
.form-two > form > select, 
.form-two > form > input, 
.form-one > form > input {
    background:#F0F0E9;
    border: 0 none;
    margin-bottom:10px;
    padding: 10px;
    width: 100%;
    font-weight: 300
}

.form-two > form > select {
    padding:10px 5px
}

.form-two {
    margin-left: 5%
}


.order-message textarea {
    font-size: 12px;
    height: 335px;
    margin-bottom: 20px;
    padding: 15px 20px;
}

.order-message label {
    font-weight:300;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    font-size: 14px
}


.review-payment h2 {
    color: #696763;
    font-size: 20px;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 20px
}

.payment-options {
    margin-bottom:125px;
    margin-top: -25px
}

.payment-options span label {
    color: #696763;
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px;
}

#cart_items .cart_info 
.table.table-condensed.total-result {
    margin-bottom: 10px;
    margin-top: 35px;
    color: #696763
}

#cart_items .cart_info 
.table.table-condensed.total-result tr {
    border-bottom: 0
}

#cart_items .cart_info 
.table.table-condensed.total-result span {
    color: #FE980F;
    font-weight: 700;
    font-size: 16px
}

#cart_items .cart_info 
.table.table-condensed.total-result 
.shipping-cost {
    border-bottom: 1px solid #F7F7F0;
}




/*************************
*******Blog CSS******
**************************/



.blog-post-area 
.single-blog-post h3 {
    color: #696763;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 17px;
}

.single-blog-post > a {
}

.blog-post-area 
.single-blog-post a img {
    border: 1px solid #F7F7F0;
    width: 100%;
    margin-bottom: 30px
}

.blog-post-area  
.single-blog-post p {
    color: #363432
}

.blog-post-area 
.post-meta {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
}

.blog-post-area 
.post-meta ul {
    padding:0;
    display: inline;
}

.blog-post-area 
.post-meta ul li {
    background:#F0F0E9;
    float: left;
    margin-right: 10px;
    padding: 0 5px;
    font-size: 11px;
    color: #393b3b;
    position: relative;
}

.blog-post-area 
.post-meta ul li i {
    background:#FE980F;
    color: #FFFFFF;
    margin-left: -4px;
    margin-right: 7px;
    padding: 4px 7px;
}

.sinlge-post-meta li i:after,
.blog-post-area 
.post-meta ul li i:after {
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    border-color:transparent transparent transparent #FE980F;
    border-width:4px;
    border-style: solid;
    top:6px;
    left:24px
}

.blog-post-area 
.post-meta ul span {
    float: right;
    color: #FE980F
}

.post-meta span{
    float: right;
}

.post-meta span i{
    color: #FE980F
}


.blog-post-area  
.single-blog-post 
.btn-primary {
    background:#FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 17px;
}


.pagination-area {
    margin-bottom:45px;
    margin-top:45px
}

.pagination-area 
.pagination li a {
    background:#F0F0E9;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    margin-right: 5px;
    padding: 4px 12px;
}

.pagination-area 
.pagination li a:hover,
.pagination-area 
.pagination li .active {
    background:#FE980F;
    color: #fff
}



/*************************
*******Blog Single CSS******
**************************/

.pager-area {
    overflow: hidden;
}

.pager-area .pager li a {
    background:#F0F0E9;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
    text-transform: uppercase;
    width: 57px;
}

.pager-area 
.pager li a:hover {
    background: #FE980F;
    color: #fff
}

.rating-area {
    border: 1px solid #F7F7F0;
    direction: block;
    overflow: hidden;
}

.rating-area ul li {
    float: left;
    padding: 5px;
    font-size: 12px
}

.rating-area .ratings {
    float: left;
    padding-left: 0;
    margin-bottom: 0
}


.rating-area 
.ratings li i {
    color:#CCCCCC
}

.rating-area .rate-this {
    color: #363432;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.rating-area 
.ratings .color, 
.rating-area .color {
    color: #FE980F
}


.rating-area .tag {
    float: right;
    margin-bottom: 0;
    margin-right: 10px;
}

.rating-area .tag li {
    padding: 5px 2px;
}
.rating-area .tag li span {
    color: #363432;
}


.socials-share {
    margin-bottom: 30px;
    margin-top: 18px;
}


.commnets 
.media-object {
    margin-right: 15px;
    width: 100%;
}

.commnets {
    border: 1px solid #F7F7F0;
    padding: 18px 18px 18px 0;
    margin-bottom: 50px
}

.commnets .pull-left {
    margin-right: 22px
}

.commnets p, 
.response-area p, 
.replay-box p {
    font-size: 12px
}

.media-heading {
    color: #363432;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px
}

.blog-socials {
    margin-bottom: -9px;
    margin-top: 14px;
}

.blog-socials ul {
    padding-left: 0;
    overflow: hidden;
    float: left;
}

.blog-socials .btn.btn-primary{
    margin-top: 0;
}

.blog-socials ul li {

    float: left;
    height: 17px;
    margin-right: 5px;
    text-align: center;
    width: 17px;
}


.blog-socials ul li a {
    color: #393B3B;
    display: block;
    font-size: 10px;
    padding: 1px;
    background:#F0F0E9;
}

.blog-socials ul li a:hover {
    color: #fff;
    background:#FE980F
}

.btn:hover {
    outline: none;
}
.btn:focus{
    outline: none;
}


.media-list .btn-primary, 
.commnets .btn-primary {

    background:#FC9A11;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    padding: 1px 7px;
    text-transform: uppercase;
}

.response-area h2 {
    color: #363432;
    font-size: 20px;
    font-weight: 700;
}

.response-area .media {
    border: 1px solid #F7F7F0;
    padding: 18px 18px 18px 0;
    margin-bottom: 27px
}

.response-area .media img{
    height: 102px;
    width: 100%;
}

.response-area .media .pull-left {
    margin-right: 25px
}

.response-area .second-media {
    margin-left: 5%;
    width: 95%;
}


.sinlge-post-meta {
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 15px
}



.sinlge-post-meta li {
    background:#F0F0E9;
    color: #363432;
    float: left;
    font-size: 10px;
    font-weight: 700;
    margin-right: 10px;
    padding: 0 10px 0 0;
    position: relative;
    text-transform: uppercase;
}

.sinlge-post-meta li i {
    background:#FE980F;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 8px 10px;
}

.sinlge-post-meta li i:after {
    top: 7px;
    border-width: 6px;
    left: 27px;
}


.replay-box {
    margin-bottom: 107px;
    margin-top: 55px;
}

.replay-box h2 {
    font-weight: 700;
    font-size: 20px;
    color: #363432;
    margin-top: 0;
    margin-bottom: 45px
}

.replay-box label {
    background:#FE980F;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 3px 15px;
    float: left;
    font-weight: 400;
}

.replay-box span {
    color: #FE980F;
    float: right;
    font-weight: 700;
    margin-top: 21px;
}

.replay-box form input {
    border: 1px solid #F7F7F0;
    color: #ADB2B2;
    font-size: 12px;
    margin-bottom: 22px;
    padding: 8px;
    width: 100%;
}

.replay-box form input:hover, 
.text-area textarea:hover {
    border: 1px solid #FE980F;
}

.text-area {
    margin-top: 66px
}

.text-area textarea {
    background: transparent;
    border: 1px solid#F7F7F0
}

.btn.btn-primary {
    background:#FE980F;
    border: 0 none;
    border-radius: 0;
    margin-top: 0px;
}

.blank-arrow {
    position: relative;
}

.blank-arrow label:after {
    content: "";
    position: absolute;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 8px;
    border-color:#FE980F transparent transparent transparent;
    top: 25px;
    left: 5px
} 



/*************************
******* Contact CSS ********
**************************/





.contact-map {
    width: 100%;
    height: 385px;
    margin-bottom: 70px
}

.contact-info .heading, 
.contact-form .heading {
    text-transform: capitalize;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

#contact-page 
.form-control::-moz-placeholder {
    color: #8D8D8D;
}

#contact-page .form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #696763;
    height: 46px;
    padding: 6px 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    box-shadow:inherit;
}

#contact-page #message {
    height:160px;
    resize:none;
}

#main-contact-form .btn-primary {
    margin-bottom: 15px;
    margin-top: 20px;
}


#contact-page .form-control:focus, 
#contact-page .form-control:hover {
    box-shadow: inherit;
    border-color: #FDB45E;
}

#contact-page .contact-info {
    padding: 0 20px;
}

#contact-page .contact-info address {
    margin-bottom: 40px;
    margin-top: -5px;
}

#contact-page .contact-info p {
    margin-bottom: 0;
    color: #696763;
    font-size: 16px;
    line-height: 25px;
}

.social-networks{
    overflow: hidden;
    text-align: center;
}

.social-networks ul {
    margin-top: -5px;
    padding: 0;
    display: inline-block;
}

.social-networks ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}

.social-networks ul li:last-child{
    margin-right: 0;
}

.social-networks ul li a {
    color: #999;
    font-size: 25px;
}

.contact-info .social-networks ul li a i{
    background: none;
}

.contact-info .social-networks ul li a:hover{
    color: #FE980F;
}


.paddin_this{
    padding-top:0px;   
    padding-right: 0px;
}

.top_bar{
    background-color: #F8F3F3;
}
.search_bar_box{
    display: inline-block;   
    // margin: 1em;
    margin-left: 0.25em;
    width: 270px;
    // margin-right: 0.25em;
}
.search_bar_box1{
    display: inline-block;   
    // margin: 1em;
    margin-left: 0.25em;
    /*width: 270px;*/
}
.block{
    display: inline;

}






.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.center_content{
    text-align: center;
    border-block-end: 20px none;
    background-color: rgb(248, 243, 243);

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search_select_icons{
    padding: 0px;
    font-size: 22.5px;
    padding-left: 8px;
    padding-right: 8px;
}

.h2_decoration1{
    color: rgb(255, 255, 255);
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0px auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}
.h2_decoration1:after{
    content: " ";
    position: absolute;
    border: 1px solid #FFA200;
    left: 0px;
    width: 100%;
    height: 0px;
    z-index: -2;
    bottom: 0.01px;
}
.top_ad_header{
    font-size: 14px;
    background-color: #FFA200;
    width: 350px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.top_ad_header h2{
    text-align: center;
    font-size: 25px;
    padding-left: 5px;
}
.pro_topad{
    display: inline-block;   
    width: 180px;

}
.h2_decoration2{
    color: rgb(255, 255, 255);
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0px auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}
.h2_decoration2:after{
    content: " ";
    position: absolute;
    border: 1px solid rgb(0, 167, 0);
    left: 0px;
    width: 100%;
    height: 0px;
    z-index: -2;
    bottom: 0.01px;
}
.best_seller_ad_header{
    font-size: 14px;
    background-color: rgb(0, 167, 0);
    width: 350px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.top_bar_1_2{
    background-color: #F8F3F3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.sider_bar_headings{
    background-color: #E5580C;
    text-align: center;
    color: #F5F5F5;
    border-radius: 10px;
}
.features_item_bar_headings{
    background-color: #E5580C;
    text-align: center;
    color: #F5F5F5;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.recomonded_item_bar_headings{
    background-color: #E5580C;
    text-align: center;
    color: #F5F5F5;
    border-radius: 10px;
    margin-top: 0px;
}
.login_page{
    padding: 80px;
}
.login_or{
    padding-top: 100px;
}
#fontchnge{
    font-family: initial;
    font-size: 10px;
}

/*login and signup*/
.loginform-wrong-email{
    -webkit-box-shadow:inset 1px 1px 1px red;
    box-shadow:inset 0 0px 3px red;
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modalDialog{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
    webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modalDialog> div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #E9E9E9 none repeat scroll 0% 0%;
    /*    background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);*/
}

.modalDialogpr{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 700ms ease-in;
    -moz-transition: opacity 700ms ease-in;
    transition: opacity 700ms ease-in;
    pointer-events: none;
}
.modalDialogpr:target {
    opacity:1;
    pointer-events: auto;
    webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modalDialogpr> div {
    width: 80%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgb(248, 248, 248);
    /*    background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);*/
    margin-top: 50px;
    height: 450px;
}

.edit-pr{
    padding-top: 30px;
    height: 90%;
}


.edit-pr h2, .edit-pr h2 {
    color: #696763;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
}
.modalDialogprform{
    height: 100%;

}

.hideitems{
    display: none;

}
.showitems{
    display: inline-block;
}
.emailsent{
    opacity:1;
    pointer-events: auto;
}
.wrongformfield{
    color: red;

}

.emailsentbackground{
    background: white;
    width: 500px;
}
.emailsentfont{
    color: green;
    padding: 15px 10px 10px;
    font-size: 17px;
}




.modalDialog2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog2:target {
    opacity:1;
    pointer-events: auto;
    webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modalDialog2 > div  {
    text-align: center;
    font-size: 24px;
    color: green;
    width: 300px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 30px;
    background: white;
    padding-top: 25px;
    -webkit-box-shadow:inset 10px 10px 10px black;
    box-shadow:inset 0 0px 3px black;
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.centerbtns{
    text-align: center;
}
.alertbt{
    width: 90px;

}
.addRedcolor{
    color: red;
}
.addRedcolor:hover{
    color: #000;
}
addblackcolor:hover{
    color: black;
}
.btn-default:hover{
    color: #333;
    background-color: #BFAFAF;
    border-color: #ADADAD;
}
.btn-default:focus,.btn-default:active,.btn-default:after{
    background-color: #FE980F;
    color: white;
}


.modalDialog4 {

}
.modalDialog4:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog4 > div  {
    font-size: 10px;
    width: 300px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 30px;
    background: #F9F9F9 ;
    padding-top: 25px;
    -webkit-box-shadow:inset 10px 10px 10px black;
    box-shadow:inset 0 0px 3px black;
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modalDialog4 {

}
.modalDialog5:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog5 > div  {
    font-size: 10px;
    width: 390px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 30px;
    background: #F9F9F9 ;
    padding-top: 25px;
    -webkit-box-shadow:inset 10px 10px 10px black;
    box-shadow:inset 0 0px 3px black;
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*Product page*/
.Productpage{
    padding-top: 5%;
}
.product-refine-header{
    text-align: center;
    text-decoration: none;
    font-size: 22px;

}
.refines{
    width: 100%;
    text-align: left;
}
.refinebox{
    margin-top: 2px;
    margin-bottom: 2px;
}
.price-range-tf{
    width: 90%;
}
.price-range-btn{
    width: 90%;   
}
.location-selector{
    width: 90%;
    text-align: center;
}
.refine_reset{
    padding-left: 65%;
}
.refine_reset_btn{
    font-size: 20px;
}
.Home_brand{
    background-color: green;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
}
/*products*/
.products-heading{
    text-align: left; 
    font-size: 18px;
    color: orange;
}
.products-price{
    text-align: right; color: orange; font-weight: 500;
}
.products-date{
    text-align: left; 
    font-size: 14px; 

    color: #B3AFA8;
}
.product-status-available{
    text-align: left; 
    font-size: 14px; 
    color: blue;
}
.product-status-outofstock{
    text-align: left; 
    font-size: 14px; 
    color: red;
}
.products-type{
    text-align: right; 
    color: #B3AFA8; 
    font-weight: 500; 

}
.products-details{
    text-align: left; 
    font-size: 13px;
}
.products-compare-btn{
    font-size: 12px; 
    height:20px; 
    padding-top: 0px;
    padding-bottom: 0px;
}
.products-wishlist-btn{
    font-size: 12px; 
    height:20px; 
    padding-top: 0px;
    padding-bottom: 0px;
}
.color-red{
    color: red;
}
.watermark{
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.5;
    z-index: 99;
    color: red;
    background: #000 none repeat scroll 0% 0%;
    border-radius: 5px;
    padding: 5px;
}
compareontable td:hover{
    color: white;
}
.suggetionsbox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-width: 140px;
    background-color: #999;
    position: fixed;
    padding: 5px;
    margin-left: 668px;

    visibility: hidden;
}

//profile tabs
.content_tabs
{
    margin-top: 20px;
    margin-bottom: 20px;   
}
#tab-container
{

    float: left;
    margin: 50px 0 0 0;
    width: 126px;
}
#tab-container ul
{
    list-style: none;
    text-align: center;
    width: 135px;
}
#tab-container ul li
{
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 8px solid #666;
    background-color: #ddd;
    margin: 8px 0;
}
#tab-container ul li a,
#tab-container ul li a:visited
{
    text-decoration: none;
    color: #666;
    display: block;
    padding: 15px 5px;
}
#tab-container ul li:hover
{
    border-left: 8px solid #006699;
}
#tab-container ul li a:hover
{
    color: #006699;
}
#tab-container ul li.selected
{
    border-right: none;
    background-color: #fff;
    border-left: 8px solid #E5580C;
}
#main-container
{
    min-height: 500px;
    margin: 0 0 0 134px;
    padding: 5px 20px 20px 20px;
    background-color: #fff;
    border: 1px solid #888;
}
.prof_topBar{
    background-color: #DDD;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;

}
.prof_topBar_header{
    padding-left: 5px;
    color: #666;
}
.prof_topBar_select{
    padding-top: 7px; 
    margin-top: 4px;
}
.prof_deleteBtn{
    margin: 5px;
    border-bottom: 2px solid #666;
    border-radius: 3px;
    background-color: rgb(251, 249, 249);
}
.prof_deleteBtn:disabled{
    color: rgb(153, 150, 150);
}
.prof_2nd_bar{
    padding-left: 11px;
    margin-bottom: 10px;
}
//profile
.red-text-field{
    border-color: rgb(255, 0, 0);
}





#q-graph {
    display: block;
    /* fixes layout wonkiness in FF1.5 */
    position: relative;
    width: 600px;
    height: 300px;
    margin: 1.1em 0 0;
    padding: 0;
    background: transparent;
    font-size: 11px;
}

#q-graph caption {
    caption-side: top;
    width: 600px;
    text-transform: uppercase;
    letter-spacing: .5px;
    top: -40px;
    position: relative;
    z-index: 10;
    font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td {
    position: absolute;
    bottom: 0;
    width: 150px;
    z-index: 2;
    margin: 0;
    padding: 0;
    text-align: center;
}

#q-graph td {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
#q-graph td:hover {
    background-color: #4d4d4d;
    opacity: .9;
    color: white;
}

#q-graph thead tr {
    left: 100%;
    top: 50%;
    bottom: auto;
    margin: -2.5em 0 0 5em;
}

#q-graph thead th {
    width: 7.5em;
    height: auto;
    padding: 0.5em 1em;
}

#q-graph thead th.sent {
    top: 0;
    left: 0;
    line-height: 2;
}

#q-graph thead th.paid {
    top: 2.75em;
    line-height: 2;
    left: 0;
}

#q-graph tbody tr {
    height: 300px;
    padding-top: 2px;
    border-right: 1px dotted #C4C4C4;
    color: #AAA;
}


#q-graph tbody th {
    bottom: -1.75em;
    vertical-align: top;
    font-weight: normal;
    color: #333;
}

#q-graph .bar {
    width: 60px;
    border: 1px solid;
    border-bottom: none;
    color: #000;
}

#q-graph .bar p {
    margin: -12px 0 0;
    padding: 0;
    opacity: .4;
    font-size: 8px;
}

#q-graph .sent {
    left: 42px;
    //background-color: #39cccc;
    background-color: unset;
    box-shadow: inset 0 0 0 1000px #39cccc;

    border-color: transparent;
    margin-bottom: 1px;
}

#q-graph .paid {
    left: 77px;
    /*background-color: #7fdbff;*/
    box-shadow: inset 0 0 0 1000px #7fdbff;
    border-color: transparent;
}

#ticks {
    position: relative;
    top: -300px;
    left: 2px;
    width: 596px;
    height: 300px;
    z-index: 1;
    margin-bottom: -300px;
    font-size: 10px;
    font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
    position: relative;
    border-bottom: 1px dotted #C4C4C4;
    width: 1050px;
}

#ticks .tick p {
    position: absolute;
    left: -5em;
    top: -0.8em;
    margin: 0 0 0 0.5em;
}
#product_details{
    margin-top:  40px;
}
#product_details_table{
    width: 100%;
    font-size: 15px;
}
#product_details_table tr th{

    /*background-color: rgb(187, 233, 187);*/
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
}
#product_details_table tr td{
    /*background-color: #C6EDED;*/
    background-color: unset;
    box-shadow: inset 0 0 0 1000px #C6EDED;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);

}
.top-line{
    padding-bottom: 87px; 
}
.inv-top-left{
    float: right;
}
.inv-top-left h3{
    color: transparent;
    text-shadow: 0 0 #8989e0;
    /*color: #8989e0;*/
    width: 100px;
    padding-left: 80px;
    margin: 0px;
}
.inv-top-left table,td{
    border-collapse: collapse;
}
.tdcenter{
    text-align: center;
}
.inv-top-left-table-header{
    background-color: unset;
    box-shadow: inset 0 0 0 1000px appworkspace;
    border: 1px solid black;
}
.inv-top-left-table-outline{
    border: 1px solid black;
}
.inv-top-right{
    float: left;
}
.inv-top-right h3{
    padding: 0px;
    margin: 0px;
    color: #E5580C;
}
pre{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
.sec-line{
    padding-top: 5px;
    width: 100%;
    height: 50px;
    padding-bottom: 132px;
}
.addre{
    font-style: normal;
}

.sec-line h4{
    background-color: unset;
    box-shadow: inset 0 0 0 1000px #434395;
    color: transparent;
    text-shadow: 0 0 white;
}
.sec-line ul{
    padding-left: 0px;
}
.sec-line li{
    display: table-cell;
    width: 1%;
    padding-right: 40px;
}
.sec-line h4{
    margin-bottom: 5px;
}
h4{
    padding: 0px;
}
.table1{
    text-align: left;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
.table1 th{
    background-color: unset;
    box-shadow: inset 0 0 0 1000px #434395;
    color: transparent;
    text-shadow: 0 0 white;
    font-size: 14px;
}
.table1 tr,table1 th{
    border: 1px solid black;
    border-collapse: collapse;
}

.table1 td{
    border: 1px solid black;
    border-collapse: collapse;  
    font-size: 13px;
}
.table-tot{
    background-color: unset;
    box-shadow: inset 0 0 0 1000px rgb(228, 228, 255);
    text-align: right;
}
.notes{
    margin-top: 20px;
    float: left;
    border: 1px solid black;
    width: 46.7%;
}
.notes h5{
    padding: 0px;
    margin: 0px;
    background-color: unset;
    box-shadow: inset 0 0 0 1000px activeborder;

}
.equations{
    //width: 42.7%;
    float: right;
}
.table2{
    border: none;
    width: 250px;
    border-collapse: collapse;
}
.invoiceheader{
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 #8989e0;
}
.tb2td1{
    font-size: 14px;
}
.tb2td2{
    box-shadow: inset 0 0 0 1000px rgb(228, 228, 255);

}
.tb2td22{
    border: 1px solid #bcb0b0;
}
.tb2td23{
    box-shadow: inset 0 0 0 1000px rgb(255, 190, 155);
}
.table2middle{
    border-bottom: 1px solid #bcb0b0;
}
.txtalignright{
    text-align: right;
    font-size: 14px;
    width: 121px;
}
.bottom-line{
    margin-bottom: 100px;
}
.p2{
    color: transparent;
    text-shadow: 0 0 red;
}


.prodetails-img{
    /*border: 1px solid black;*/
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
    //  padding: 20px;
    position: absolute;
    /*background: orange;*/
    //bottom: -20px;
    left: -28px;
    width: 502px;
    height: 300px;
    margin-left: 30px;
    margin-top: 25px;
}




/*Update products*/

/*Addtqy update*/
.addqty-model{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.addqty-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 44%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding-bottom: 20px;
}

.addqty-close {
    color:  #666;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.addqty-close:hover,
.addqty-close:focus {
    color: rgb(216, 215, 215);
    text-decoration: none;
    cursor: pointer;
}

.addqty-header {
    padding-right: 4px;
    height: 27px;
    /*background-color: #5cb85c;*/
    color: white;
}
.addqty-body{padding: 2px 16px;}

.addqty-body table{
    width: 320px;
}
.addqty-body td{
    padding: 0;
}
.width-add-qty{
    width: 115px;
}

.chagemodel-model{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.chagemodel-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 44%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding-bottom: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* update product name */
.chagemodel-close {
    color:  #666;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.chagemodel-close:hover,
.chagemodel-close:focus {
    color: rgb(216, 215, 215);
    text-decoration: none;
    cursor: pointer;
}

.chagemodel-header {
    padding-right: 4px;
    height: 27px;
    /*background-color: #5cb85c;*/
    color: white;
}
.chagemodel-body{padding: 2px 16px;}

.chagemodel-body select{
    width: 150px;
}
.chagemodel-body table{
    margin-left: auto;
    margin-bottom: auto;
    width: 90%;
}
.own-brand{
    color: red;
}
.addnew-select{
    background-color: #269abc;
    font-size: 14px; 
    color: black;
}

.updateprname-btn{
    margin-left: 104px;    
}
.wrong-textbox{
    border:   1px solid red;
    box-shadow: inset 0 0px 3px red;
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

/*chnge statsu*/

.chngestatus-model{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.chngestatus-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 44%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding-bottom: 20px;
}
.chngestatus-close {
    color:  #666;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.chngestatus-close:hover,
.chngestatus-close:focus {
    color: rgb(216, 215, 215);
    text-decoration: none;
    cursor: pointer;
}

.chngestatus-header {
    padding-right: 4px;
    height: 27px;
    /*background-color: #5cb85c;*/
    color: white;
}
.chngestatus-body{padding: 2px 16px;}

/*update product pagination*/
.pagination-product-update {
    /*    padding-left: 100px;
        padding-right: 100px;*/
    text-align: center;
}

.nothingfound {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: rgb(143, 234, 143);
    margin-top: 40px;
    border-radius: 30px;
    margin-bottom: 22px;
}

.refine-btn{
    width: 100%;
    background-color: rgb(215, 215, 215);
    height: 32px;
    border: 0;
    border-radius: 5px;
}
.refine-btn:hover{
    background-color: orange;
}
.view-ad-btn{
    padding: 5px;
    width: 150px;
    border: 0px none;
    background: #f09e0f;
    color: black;
    border-radius: 5px;
}
.view-ad-btn label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;   
}

.view-ad-btn:hover{
    background-color: #f5d9a7;
    /*border: 1;*/
}
.product-uti-btn{
    height: 24px;
    border: 0px none;
    border-radius: 10px;
    background-color: rgb(237, 105, 105);
    color: white;
    padding-top: 2.9px;
}
.search-btn{
    background-color: rgb(96, 180, 206);
    border: 0px none;
    padding: 6px;
    border-radius: 5px;
    color: white;
    height: 33px;
}
.search-btn:hover{
    background-color: orange;
}

.super-top-ul{
    color: #243238;
}
.super-top-ul i{
    font-size: 19px;
}
.super-top-ul div{
    float: right;
    padding-top: -2px;

}


.toolt .tooltiptext {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    visibility: hidden;
    width: 120px;
    background-color: orange;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.toolt .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent orange transparent;
}

.toolt:hover .tooltiptext {
    visibility: visible;
}
.cart-count{
    background: rgb(130, 181, 65) none repeat scroll 0% 0%;
    border-radius: 18px;
    width: 16px;
    color: white;
    height: 20px;
    padding-left: 4px;
}
.secmenu-border{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
}



.delDialog{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 700ms ease-in;
    -moz-transition: opacity 700ms ease-in;
    transition: opacity 700ms ease-in;
    pointer-events: none;
}
.delDialog:target {
    opacity:1;
    pointer-events: auto;
    webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}
.delDialog> div {
    width: 80%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background:white;
    /*    background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);*/
    margin-top: 50px;
    height: 347px;
}
.delovery-form{
    height: 320px;
}


.delsetting{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 700ms ease-in;
    -moz-transition: opacity 700ms ease-in;
    transition: opacity 700ms ease-in;
    pointer-events: none;
}
.delsetting:target {
    opacity:1;
    pointer-events: auto;
    webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}
.delsetting> div {
    width: 80%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background:white;
    /*    background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);*/
    margin-top: 50px;
    height: 580px;
}
.delsetting-form{
    height: 536px;
}

.rating-stars{
    cursor: pointer;
}
.color-rating-star{
    color: orange;
}
.text-red{
    color: red;
}
.nomargin{
    margin: 0px;
}
.product-rate-show{
    text-align: right;
    padding: 0px
}


.pleaseconfm{
    padding-top: 2px;
    margin-bottom: 4px;
    height: 23px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(91, 188, 91);
    color: rgb(96, 82, 82);
}
.blocked-user{
    padding-top: 2px;
    margin-bottom: 4px;
    height: 43px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(225, 132, 117);
    color: rgb(96, 82, 82);
}

.alert {
    margin-top: 10px;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}
.alert2 {
    margin-top: 10px;
    padding: 20px;
    background-color: #f44336;
    color: white;
}
.alertsup {
    padding: 7px;
    background-color: #f44336;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}

.alert3 {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}
.erroroc {
    padding: 7px;
    background-color: #f44336;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;

}
.alertprof {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
.bodycont{
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
    margin-top: 20px;
}
#frgtbtn{
    margin-right: 1%;
    background: transparent linear-gradient(rgb(52, 165, 207), rgb(42, 138, 196)) repeat scroll 0% 0%;
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid rgb(43, 139, 199);
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.3);
    text-decoration: none;  
    box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Lato",Calibri,Arial,sans-serif;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;  
}
.pleasewait{
    margin-right: 1%;
    background: transparent linear-gradient(rgb(52, 165, 207), rgb(42, 138, 196)) repeat scroll 0% 0%;
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid rgb(43, 139, 199);
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.3);
    text-decoration: none;  
    box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset;
    border-radius: 3px;
    font-family: "Lato",Calibri,Arial,sans-serif;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;  
}
#frgtmil{
    border: 1px solid #d9d9d9 !important;
    color: #bebebe;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
#frgtmil:focus{
    box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    -webkit-box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    -moz-box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    border: 1px solid rgba(48, 168, 218, 1) !important;
}
.red-text{
    color: red;
}
.loglastdiv{
    text-align: center;
}
.logorlabel{
    background-color: orange;
    width: 23px;
    border-radius: 47px;
    color: whitesmoke;
    font-size: 14px;

}

.mailsent{
    margin-right: 1%;
    background-color: rgb(76, 175, 80);
    border:0px;
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.3);
    text-decoration: none;  
    box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset;
    border-radius: 3px;
    font-family: "Lato",Calibri,Arial,sans-serif;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;  
}
.emainsuc{
    margin-top: 10px;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.emainsuc a{
    color: rgb(58, 58, 125);
}

.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
.effect2:after
{
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.x1{
    position: fixed; 
    top: 70px; 
    left: 150px; 
    width: 100%; 
    z-index: 10;
}

.cart_menu{
    padding-left: 10px;
    background: #606060;
    border-bottom: 1px solid #E5580C;
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
    text-align: left;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.floatright{
    float: right;
}
.cartpricebox{
    margin-right: 17px;
    /*margin-top: 20px;*/
}
.textalignright{
    text-align: right;
}
.checkoutsave{
    float: right;
    margin-bottom: 10px;
    width:150px;
}
#anotherdislist{
    color: black;
}
.confirmaddressbtn{

    border: 0px none;
    padding: 5px;
    /*background-color: rgb(227, 125, 125);*/
    color: white;
    border-radius: 6px;
    background: transparent linear-gradient(rgb(121, 182, 236), rgb(108, 179, 240)) repeat scroll 0% 0%;
    background: -webkit-linear-gradient(rgb(121, 182, 236), rgb(108, 179, 240));
    background: -o-linear-gradient(rgb(121, 182, 236), rgb(108, 179, 240));
    background: -moz-linear-gradient(rgb(121, 182, 236), rgb(108, 179, 240));
    background: linear-gradient(rgb(121, 182, 236), rgb(108, 179, 240));
    /*background: rgb(40, 203, 59) none repeat scroll 0% 0%;*/
}
.confirmaddressbtn:hover{
    background: transparent linear-gradient(rgb(193, 220, 245), rgb(96, 136, 170)) repeat scroll 0% 0%;
    background: -webkit-linear-gradient(rgb(193, 220, 245), rgb(96, 136, 170));
    background: -o-linear-gradient(rgb(193, 220, 245), rgb(96, 136, 170));
    background: -moz-linear-gradient(rgb(193, 220, 245), rgb(96, 136, 170));
    background: linear-gradient(rgb(193, 220, 245), rgb(96, 136, 170));
}
.buybtnin{
    background-color: white;
    color: #939191;
    padding: 4px;
    border-radius: 18px;
}
#buybtn{
    border-radius: 40px;
    height: 32px;
    padding-top: 5px;
    padding-left: 17px;
    padding-right: 0px;
    background: transparent linear-gradient(rgb(248, 188, 84), rgb(248, 155, 65)) repeat scroll 0% 0%;
    background: -webkit-linear-gradient(rgb(248, 188, 84), rgb(248, 155, 65));
    background: -o-linear-gradient(rgb(248, 188, 84), rgb(248, 155, 65));
    background: -moz-linear-gradient(rgb(248, 188, 84), rgb(248, 155, 65));
    background: linear-gradient(rgb(248, 188, 84), rgb(248, 155, 65));
}