html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset End */
.clr { clear: both;}

#wrapper {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
    margin: 50px auto;
    width: 540px;
    height:460px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 40px;
}
#wrapper1{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
    margin: 50px auto;
    width: 540px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 40px;   
    min-height: 520px;

}

.join {
    color: #222;
    font-size: 44px;
    font-weight:700;
    float: left;
    text-shadow: 1px 0 1px #777;
}
.lock {
    float: right;
    background:url("../images/login/loginlock.png") no-repeat;
    width:14px;
    height:18px;
    margin-top: 12px;
}
.login-options {
    margin-top: 15px;
    color: #9c9c9c;
    margin-bottom: 25px;
}


.clr hr {
    border: 1px solid #e9e9e9;
    margin:25px 0;
}
.mail-text {
    color: #777;
}
.forms {
    margin-top: 20px;
    width:500px;
}
.forms input {
    border: 1px solid #d9d9d9 !important;
    color: #bebebe;
    padding: 7px 0px 7px 50px;
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    margin-bottom: 15px;
    width: 95%;
}
.forms input:focus {
    box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    -webkit-box-shadow: 0 0 5px rgba(48, 168, 218, 1); 
    -moz-box-shadow: 0 0 5px rgba(48, 168, 218, 1);
    border:1px solid rgba(48, 168, 218, 1) !important; 
}
.forms #username {
    background:url("../images/login/username.png") no-repeat left center;
    background-position: 10px 5px;
    border-right: 1px solid #f1f1f1;
}
.forms #mail {
    background:url("../images/login/loginmail.png") no-repeat left center;
    background-position: 10px 10px;
    border-right: 1px solid #f1f1f1;
}
.forms #password {
    background:url("../images/login/Loginpword.png") no-repeat left center;
    background-position: 10px 5px;
    border-right: 1px solid #f1f1f1;
}

.create-acc {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 11px;
    border: 0px solid #b96529;
    border-radius: 8px;
    background: #992828;
    background: -webkit-gradient(linear, left top, left bottom, from(#e77e33), to(#e77e33));
    background: -moz-linear-gradient(top, #e77e33, #e77e33);
    background: linear-gradient(to bottom, #e77e33, #e77e33);
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    color: #ffffff;
    text-decoration: none;
    height: 50px;
    margin-top: 20px;
}
.create-acc:hover,
.create-acc:focus {
    border: 0px solid #e77e33;
    background: #db7830;
    color: #ffffff;
    text-decoration: none;
}
.create-acc:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#8b4c1f), to(#e77e33));
    background: -moz-linear-gradient(top, #8b4c1f, #e77e33);
    background: linear-gradient(to bottom, #8b4c1f, #e77e33);
}
.create-acc:after{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    padding-left: 10px;
    top: -10px;
    right: -15px;
    background-size: 8px 11px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
    border-radius: 0px 8px 8px 0px;
}
.footer {
    width: 610px;
    margin: 0 auto;
    color: #fff;
    margin-top: -40px
}
.footer a {
    color: #fff;
    text-decoration: underline;
}
.log-btn{

    margin-right: 1%;
    background: #34a5cf;
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid rgb(43, 139, 199);
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    width: 49%;
    height: 48px;
    float: left;
    position: relative;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Lato",Calibri,Arial,sans-serif;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    margin-top: 22px;
    float: right;
    padding-top: 4px;
}
.showpasswordcheckbox{
    vertical-align: middle;
    margin-left: 2px;
}
.keepmelog{
    color: rgb(119, 119, 119);
    font-size: 12px;
    vertical-align: sub;
}
.alternatelogin{
    position: absolute;
    top: 563px;
    left: 559px;
}
.alternatelogin2{
    position: absolute;
    top: 621px;
    left: 563px;

}
.or-label{
    background-color: orange;
    padding: 2px;
    border-radius: 15px;
    width: 25px;
    text-align: center;
}
input[type="button"] {
    margin-left: 1%;
    background: #fbd568;
    background: -moz-linear-gradient(#fbd568, #ffb347);
    background: -ms-linear-gradient(#fbd568, #ffb347);
    background: -o-linear-gradient(#fbd568, #ffb347);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbd568), to(#ffb347));
    background: -webkit-linear-gradient(#fbd568, #ffb347);
    background: linear-gradient(#fbd568, #ffb347);
    border: 1px solid #f4ab4c;
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
    margin-left: 1%;
    background: #fbd568;
    background: -moz-linear-gradient(#fbd568, #ffb347);
    background: -ms-linear-gradient(#fbd568, #ffb347);
    background: -o-linear-gradient(#fbd568, #ffb347);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbd568), to(#ffb347));
    background: -webkit-linear-gradient(#fbd568, #ffb347);
    background: linear-gradient(#fbd568, #ffb347);
    border: 1px solid #f4ab4c;
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
    width: 49%;
    height: 38px;
    float: left;
    position: relative;
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    float: right;
}